{% extends "base.html" %}
{% block title %} Welcome to Captive Green {% endblock %}
{% block bodycontent %}
	<h2 class="title"><a href="/">Welcome to Captive Green </a></h2>
	<div class="post">
		<div style="clear: both;">&nbsp;</div>
		<div class="entry">
			<p>
				Esta é <strong>Captive Green </strong>, livre, totalmente compatível com os padrões CSS modelo desenhado por FreeCssTemplates para Modelos de CSS.
				 A foto utilizada neste modelo é pdphoto.org formulário. Este modelo livre é lançado sob uma licença Creative Commons Attribution 3.0,
				 assim que você é bastante livre para fazer o que quiser com ele (até usá-lo comercialmente) desde que mantenha os links no rodapé intacta. Afora isso, divirta-se :)
			</p>
						
			<p class="links"><a href="#" class="more">Leia Mais</a><a href="#" title="b0x" class="comments">Comente</a></p>
		</div>
		</div>
		<div class="post">
			<h2 class="title"><a href="#">Exemplo 2</a></h2>
			<div style="clear: both;">&nbsp;</div>
			<div class="entry">
				<p>Leia mais. Você pode. Resultados de pesquisa. Gratuitamente. 
					Em não mais, o elemento ou ao mesmo tempo, não vários, puro.
					É gratuito e todos podem entrar. Arquivos. Eu estava aqui. Nosso conteúdo é sempre mais.
					Clique aqui, aqui é a mudança, aqui está aqui agora, aqui está a página Opções.
					Isso é. Melhor Resposta. Que na alimentação. Cotações, corredor não disponível no momento. Como entrar no site e aqui.</p>
				<p class="links"><a href="#" class="more">Leia Mais</a><a href="#" title="b0x" class="comments">Comente</a></p>
			</div>
		</div>
		<div class="post">
			<h2 class="title"><a href="#">Exemplo 3</a></h2>
			<div style="clear: both;">&nbsp;</div>
			<div class="entry">
				<p>Leia mais mais mais mais mais mais agora ou mais. O processo. Para que, no arco na frente, mas você não. Nós usamos a porta aqui,
					 mas ele precisa mais é mais. * Adicione o elemento de arco, o vale do visto algo mais. Queremos mais.
					 Leia mais aqui Terra seria o seu primeiro post aqui. Isto é mais puro. No News. Mas do meu tempo aqui, por favor:
					 Não, mas aqui vai. Para as suas necessidades profissionais mais do que um é um leão. Mais pela primeira vez cruzadores, até que ele esteja macio.</p>
				<p class="links"><a href="#" class="more">Leia Mais</a><a href="#" title="b0x" class="comments">Comente</a></p>
			</div>
		</div>		
		<div style="clear: both;">&nbsp;</div>
{% endblock %}
